@font-face {
  font-family: "Source Code Pro";
  src: url("./fonts//SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Source Code Pro Italic";
  src: url("./fonts/SourceCodePro-Italic-VariableFont_wght.ttf");
}

$color-text-primary: #d0d0d0;
$color-background: #000000;

body {
  background-color: $color-background;
  color: $color-text-primary;
  font-family: "Source Code Pro";
}

.terminal {
  &__output {
    &__line {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      gap: 1ch;
      white-space: pre-line;
    }
  }

  &__prompt {
    &__symbol {
      color: #00d000;
    }
  }

  &__form {
    display: flex;
    gap: 1ch;
  }

  &__input-container {
    flex-grow: 1;
    position: relative;
  }

  &__input {
    font-family: "Source Code Pro";
    display: inline;
    background-color: $color-background;
    color: $color-text-primary;
    border: none;
    font-size: 1rem;
    padding: 0;
    width: 100%;
    caret-color: #00000000;

    &__caret {
      box-sizing: border-box;
      width: 1ch;
      position: absolute;
      height: 100%;
      opacity: 80%;
      mix-blend-mode: difference;
      background-color: $color-text-primary;
      animation: blink 1s steps(1, start) infinite;

      &--blurred {
        @extend .terminal__input__caret;
        background-color: $color-background;
        border: 1px solid $color-text-primary;
        animation: none;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

@keyframes blink {
  from,
  to {
    opacity: 0%;
  }
  50% {
    opacity: 80%;
  }
}
